<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>Angry Birds Games - Free Angry Birds Games Online at AngryBirdsGames.com!</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="Play the best Angry Birds games and watch Angry Birds videos ! Free online fun with the Angry Birds and the bad pigs."/>
<meta name="keywords" content="Angry Birds Games, Online Angry Birds Games, Free Angry Birds Games, Flash Angry Birds Games, angry birds, physics games"/>
<meta name="classification" content="home" />
<meta name="Robots" content="index,follow"/>
<meta name="revisit-after" content="7 Days"/>
<meta name="language" content="en-us" />
<meta http-equiv="x-dns-prefetch-control" content="on"/>
 <link rel="dns-prefetch" href="http://img1.srv.gamex.com" />
 <link rel="dns-prefetch" href="http://img2.srv.gamex.com" />
 <link rel="dns-prefetch" href="http://img3.srv.gamex.com" />
 <link rel="dns-prefetch" href="http://img4.srv.gamex.com" />
<meta itemprop="name" content="angrybirdsgames.com" />
<meta itemprop="description" content="Play the best Angry Birds games and watch Angry Birds videos ! Free online fun with the Angry Birds and the bad pigs." />
<meta property="og:type" content="game" />
<meta property="og:title" content="Angry Birds Games - Free Angry Birds Games Online at AngryBirdsGames.com!" />
<link rel="icon" type="image/png" href="http://stat.srv.gamex.com/files/logo/angrybirdsgames.com.fav.png"/>
<link href="http://stat.srv.gamex.com/files/css/bootstrap/css/bootstrap.min.css?9" rel="stylesheet" type="text/css" media="screen" /><link href="http://stat.srv.gamex.com/files/css/gmx.css?9" rel="stylesheet" type="text/css" media="screen" /><link href="http://stat.srv.gamex.com/files/css/cartoon.css?9" rel="stylesheet" type="text/css" media="screen" /><link href="http://stat.srv.gamex.com/files/js/tipTip/tipTip.min.css?9" rel="stylesheet" type="text/css" media="screen" /><link href="http://stat.srv.gamex.com/files/themes/angrybirdsgames.com/custom.css?9" rel="stylesheet" type="text/css" media="screen" /> 
<script language="javascript" type="text/javascript" src="http://stat.srv.gamex.com/files/js/jquery/js/jquery-1.11.1.min.js?9"></script><script language="javascript" type="text/javascript" src="http://stat.srv.gamex.com/files/js/bootstrap/bootstrap.min.js?9"></script><script language="javascript" type="text/javascript" src="http://stat.srv.gamex.com/files/js/tipTip/jquery.tipTip.min.js?9"></script><script language="javascript" type="text/javascript" src="http://stat.srv.gamex.com/files/js/jquery.navgoco.js?9"></script><script language="javascript" type="text/javascript" src="http://stat.srv.gamex.com/files/js/modernizr-custom.js?9"></script><script language="javascript" type="text/javascript" src="http://stat.srv.gamex.com/files/js/gmx-2.11.js?9"></script><script language="javascript" type="text/javascript" src="http://stat.srv.gamex.com/files/js/jquery.gmxSlider.js?9"></script><!-- templates -->
<script type="text/html" id="ag">
<div class="ag tb<%=thumbSize%>"><div class="ig">
<a class="lk" href="<%=game_url%>">
<img class="ti ti<%=thumbSize%> hd" src="<%=thumb%>" width="<%=thumbSize%>" alt="<%=escapeHtml(title)%>"/>
<% if (thumbSize <= 100) { %>
<div class="tf tf<%=thumbSize%><% if (isnew) { %> newgame<% } %>"></div>
<% } %><h5 class="gt"<% if (typeof(categories) != "undefined" && categories.length) { %><%=' tags="'.categories.join(', ')%><% } %>><% if (thumbSize >= 120) { %><%=escapeHtml(title)%><% } %></h5>
</a>
<% if (typeof(badge) != "undefined" && badge) { %>
<div class="badge <%=badge%>"></div>
<% } %>
</div></div>
</script>
<script type="text/html" id="ag-emp">
<div class="ag"><div class="ig"><div class="sj"></div></div></div>
</script><!-- /templates -->
<style>
body {background-color: #69942B;}#page-angrybirdsgames-com .block {background-color:#9e6309;border-radius: 5px;color:#ffffff;}.boxcolor h2 {background-color:#9e6309;}.boxcolor {background: #9e6309;border: 2px solid #9e6309;}#headeradcontainer{background: #9e6309; border: 2px solid #9e6309;}#headeradinnercontainer{border: 1px solid #9e6309;}.system-message #main-content-inner {color:#fff;background: #9e6309;}

</style><!--[if IE]>
<style type="text/css">.clearfix {zoom: 1; } </style>
<![endif]-->
<!--[if lte IE 8]>
<style type="text/css">#category-nav li {background: #fff;}
#morecategories-wrapper {background: #fff;}.tb200 p.gt, .tb120 p.gt {background: #000;}
</style>
<![endif]--> 
<script type="text/javascript">
var Gamex = {"s":"17","es":"17","d":"angrybirdsgames.com","baseUrl":"http:\/\/www.angrybirdsgames.com\/","siteUrl":"http:\/\/www.angrybirdsgames.com\/","staticUrl":"http:\/\/stat.srv.gamex.com\/files\/","thumbsUrl":["img1.srv.gamex.com","img2.srv.gamex.com","img3.srv.gamex.com","img4.srv.gamex.com"],"thumbsDir":"files\/thumbs","parentUrl":"http:\/\/www.angrybirdsgames.com\/","cols":"5","rows":"3","so":"su","device":"Desktop","pageWidth":1100,"pageHeight":480,"minwidth":1100,"thumbsize":220,"thumbWidth":200,"thumbHeight":140,"imgLogo":"http:\/\/stat.srv.gamex.com\/files\/logo\/angrybirdsgames.com.png","lsize":"","margin":0,"padding":10,"cid":0,"tid":"1","cpage":1,"lp":2,"emp":[],"envreq":1,"m":0,"keyword":"","sp":"0","v":"9"};
var ww = $(window).width();
var wh = $(window).height();


$(window).resize(function() {
 ww = $(window).width();
 wh = $(window).height();
});

$(document).ready(function() { 
 $("#other-games .ig").tipTip({maxWidth: "auto", edgeOffset: 3});
 $('#searchform').submit(function(){
 var v = $('#searchtxt').val();
 v = v.replace(/\s+/g, ' ').replace(/(^\s+|\s$)/g, '');
 $('#searchtxt').val(v);
 }); 
 $('.btn-find').click(function(){ 
 $('#searchform').submit();
 });
 $('#choose-language').click(function(){
 $('#lang-options').toggle().css({'z-index':999});
 });
 $('.active-category').click(function(){
 $(this).find('a').trigger('click');
 });
 if (Gamex.envreq) {
 $.cookies.set('env', '{ww:'+$(window).width()+',wh:'+$(window).height()+'}', { expires: 1, path: '/' });
 }
 var p =$('#morecategories-wrapper').detach();
 p.appendTo( "#section-header" );
	p.find('li').clone().appendTo( "ul.main-menu");
	 //Navigation Menu Slider
	$('.mobmenu-open').on('click',function(e){
		e.preventDefault();
		$('body').toggleClass('nav-expanded');
	});
	$('.mobmenu-close').on('click',function(e){
		e.preventDefault();
		$('body').removeClass('nav-expanded');
	});
	$('.mygames-item').bind('click',function(e){
		e.preventDefault();
		$('body').removeClass('nav-expanded');
		var themodal = $(this).data("target");
		$(themodal).modal('show');
	});
	// Initialize navgoco with default options
	$(".main-menu").navgoco({
		caret: '<span class="caret"></span>',
		accordion: false,
		openClass: 'open',
		save: true,
		cookie: {
			name: 'gmxmnav',
			expires: false,
			path: '/'
		},
		slide: {
			duration: 300,
			easing: 'swing'
		}
	});
 $('#moretrigger').click(function(){
 if ($("#morecategories-wrapper").hasClass('collapsed')) {
 $("#morecategories-wrapper").fadeIn(300, function(){
 $(this).addClass('expanded').removeClass('collapsed');
 }); 
 } else if ($("#morecategories-wrapper").hasClass('expanded')) {
 $("#morecategories-wrapper").fadeOut(300, function(){
 $(this).addClass('collapsed').removeClass('expanded');
 }); 
 }
 return false;
 });
 $('#myzone-favorites .modal-content').load(Gamex.siteUrl+'ajax/myfavorites?format=html&t=1621692163', function () {
 $("#myzone-favorites .ig").tipTip();
 });
 $('#myzone-played .modal-content').load(Gamex.siteUrl+'ajax/games_played_before?format=html&t=1621692163', function () {
 $("#myzone-played .ig").tipTip();
 });
 $('#myzone-suggestion .modal-content').load(Gamex.siteUrl+'ajax/games_suggestion?format=html&t=1621692163', function () {
 $("#myzone-suggestion .ig").tipTip();
 });
	$("#myzone-search").on('shown', function() {
		$("#searchtxt").focus();
	});
	
});
</script>
<script type="text/javascript">
function getViewport() {
 var viewPortWidth;
 var viewPortHeight;
 if (typeof window.innerWidth != 'undefined') {
 viewPortWidth = window.innerWidth,
 viewPortHeight = window.innerHeight
 }
 else if (typeof document.documentElement != 'undefined'
 && typeof document.documentElement.clientWidth !=
 'undefined' && document.documentElement.clientWidth != 0) {
 viewPortWidth = document.documentElement.clientWidth,
 viewPortHeight = document.documentElement.clientHeight
 }
 else {
 viewPortWidth = document.getElementsByTagName('body')[0].clientWidth,
 viewPortHeight = document.getElementsByTagName('body')[0].clientHeight
 }
 return [viewPortWidth, viewPortHeight];
}
 function loadcallback() {
 if (Gamex.tid != 6) {
 $(".ig").tipTip({maxWidth: "auto", edgeOffset: 2});
 }
 if (Gamex.thumbWidth ==200 || Gamex.thumbWidth == 120) {
 $('#gamebox').find(".ag").css({"width":tw+"px","height":th+"px"});
 }
 }
 
 var th, tw; 
 $(document).ready(function() {
 $('#page1 img').hide(); 
 $('#page1 img').one('load', function() {
 $(this).fadeIn();
 }).each(function() {
 if (this.complete) {
 $(this).trigger('load');
 }
 });

 
 if (Gamex.lp > 1) {
 for (var i = 2; i <= Math.min(Gamex.lp,10); i++ ) {
 $('<div/>').attr("id", "page"+i).addClass('slidercontent').appendTo('#panewrapper');
 }
 }
 
 var gw, gh, pw, kwd;
 
 var pad = $(window).width() > 768?20:2;
 var agp = $(window).width() > 768?8:4;
 
 if ($(window).width() - pad < Gamex.pageWidth && (Gamex.thumbWidth == 200 || Gamex.thumbWidth == 120 || Gamex.thumbWidth == 60)) {
 var cols, rows;
			
			if (Gamex.thumbWidth == 200 || Gamex.thumbWidth == 120) {
				if ($(window).width() < 414) {
					if (Gamex.thumbWidth == 200 && Gamex.rows < Gamex.cols) {
						cols = Gamex.rows;
						rows = Gamex.cols;
						Gamex.rows = cols;
						Gamex.cols = rows;
					} else if (Gamex.thumbWidth == 120) {
						cols = 3;
						rows = Math.ceil(Gamex.cols*Gamex.rows/3);
						Gamex.rows = cols;
						Gamex.cols = rows;
					}
				} else {
					cols = Gamex.cols;
					rows = Gamex.rows;
				}
				
				gw = $(window).width() - pad;
				console.log(gw);
				gh = th * Gamex.rows + 6 * Gamex.rows;
				tw = Math.floor(gw / cols) - agp*2 ;
				th = Math.floor(tw / Gamex.thumbWidth * Gamex.thumbHeight);
				$('#gamebox').find(".ag").css({"width":tw+"px","height":th+"px"});
	
			} else if (Gamex.thumbWidth == 60) {
				pad = Math.floor( ($(window).width()% 80)/2 );
				cols = Math.floor($(window).width() / 80 );
				rows = Math.ceil(Gamex.cols*Gamex.rows/cols);
				Gamex.cols = cols;
				Gamex.rows = rows;
				
				gw = 80 * Gamex.cols;
				gh = 80 * Gamex.rows;
			} else {
				gw = Gamex.pageWidth;
				gh = Gamex.pageHeight;
			}
		
		} else {
			gw = Gamex.pageWidth;
			gh = Gamex.pageHeight;
		}
		
		
 kwd = (typeof Gamex.keyword == "undefined")?'':Gamex.keyword;

 if (Gamex.lp > 1) {
			var slider = $("#panewrapper").gmxSlider({
					slideWidth:gw,
					slideHeight:gh,
					slideMargin:0,
					slideMove:1,
					easing: '',
					speed: 500,
					mode:"slide",
					direction:"H",
					onBeforeStart: function(){},
					onSliderLoad: function() {},
					onBefroreSlide:function(){},
					onAfterSlide:function(){},
					onBeforeNextSlide: function(){},
					onBeforePrevSlide: function(){}
			}); 

			$('.pageprev').on('click', function(e){
				if (Gamex.cpage <= 1) {
					return;
				}
				Gamex.cpage--;
	
				if ($('#page'+Gamex.cpage).is(':empty')) {
					loadnext(Gamex.cpage);
				}
	
				e.preventDefault()
				slider.goToSlide(Gamex.cpage-1);
	
				$('.pageloader').removeClass('active');
				$('.pageloader').filter(function(index) {
					return index == Gamex.cpage-1;
				}).addClass('active');
	
				if (Gamex.cpage == 1) {
					$(this).addClass('lkdisable');
				}
				$('.pagenext').removeClass('lkdisable');
			});
	
			$('.pagenext').on('click', function(e){
				if (Gamex.cpage == Gamex.lp) {
					return;
				}
	
				Gamex.cpage++;
	
				if ($('#page'+Gamex.cpage).is(':empty')) {
					loadnext(Gamex.cpage);
				}
				e.preventDefault();
				slider.goToSlide(Gamex.cpage-1);
	
				$('.pageloader').removeClass('active');
				$('.pageloader').filter(function(index) {
					return index == Gamex.cpage-1;
				}).addClass('active');
				if (Gamex.cpage == Gamex.lp) {
					$(this).addClass('lkdisable');
				}
				$('.pageprev').removeClass('lkdisable');
			});
	
			$('.pageloader').on('click', function(e){
				if (!$(this).hasClass('active')) {
					var i = $( ".pageloader" ).index( this );
					if ($('#page'+(i+1)).is(':empty')) {
						loadnext(i+1);
					}
					Gamex.cpage = i+1;
					if (Gamex.cpage == Gamex.lp) {
						$('.pagenext').addClass('lkdisable');
						$('.pageprev').removeClass('lkdisable');
					} else {
						$('.pagenext').removeClass('lkdisable');
					}
					if (Gamex.cpage == 1) {
						$('.pageprev').addClass('lkdisable');
						$('.pagenext').removeClass('lkdisable');
					} else {
						$('.pageprev').removeClass('lkdisable');
					}
					$('.pageloader').removeClass('active');
					$(this).addClass('active');
				}
			});
	
			if ($('#pager').html()!= '') {
				var ndot = $('a.pageloader').length;
				var bwidth = 32*2+40+ 25*ndot + 10*(ndot-1);
				// $('.paging').css({width:bwidth+"px"});
			}
		}
 var p = 1;
 var loadnext = function(p) {
 var txt=''; 
 if (p >= 1) { 
 if ($('#page'+p).is(':empty')) {
 if (p == Gamex.cpage) {$("#loading").show();}
 txt = gmx.loadPane(p, Gamex.tid, Gamex.cid, Gamex.pageWidth, 0, '', Gamex.keyword);
 if (typeof txt !== 'undefined') {
 $('#page'+p).html(txt).addClass('loaded'); 
 $('#page'+p+' img').one('load', function() {
 $(this).fadeIn();
 }).each(function() {
 if (this.complete) {
 $(this).trigger('load');
 }
 });

 loadcallback();
 }

 if (p == Gamex.cpage) {$("#loading").hide();}
 }
 }
 }; 

 $('#page-body').css({width: gw+"px"});
 //$('.area-wrapper').css({width: gw+"px"});
 $('#main-content').css({width: gw+"px"});
 $('#gamebox').css({width: gw+"px", height:gh+"px"});
 $('#panes').css({width: gw+"px", height:gh+"px"});
 $('.slidercontent').css({width: gw+"px"});
 $('#panewrapper').css({width: (gw* $('.slidercontent').length)+"px", height:gh+"px"});
 $('#block-mygames').css({width: gw+"px", 'margin-left':'auto','margin-right':'auto',});

 var gpos = $('#gamebox').position();

 $("<div/>").attr("id", "loading").appendTo("#gamebox");
 $("<img />").attr("src",Gamex.staticUrl+"css/images/loader.gif").appendTo("#loading");
 $("#loading").hide().css({position:"absolute", top: (gh/2)+"px", left: (gw/2 - 194)+"px"});


 if (Gamex.sp && $('#page'+p).html()=='') {
 loadnext(p);
 }

 
 
 if (typeof Gamex.tid !== "undefined" && Gamex.tid != 6)
 $(".ig").tipTip({maxWidth: "auto", edgeOffset: 2});
 });
</script>
</head> 
<body id="page-angrybirdsgames-com" class=" page theme-cartoon front collections">
<nav id="mobmenu">
<div class="mobmenu-close clearfix">Close</div>
<div class="sh-item sf-mygames clearfix">
<ul class="">
 <li class="mygames-item favorites"><a data-toggle="modal" data-target="#myzone-favorites"><div></div></a></li>
 <li class="mygames-item played"><a data-toggle="modal" data-target="#myzone-played"><div></div></a></li>
 <li class="mygames-item suggestion"><a data-toggle="modal" data-target="#myzone-suggestion"><div></div></a></li>
 <li class="mygames-item search"><a data-toggle="modal" data-target="#myzone-search"><div></div></a></li>
</ul>
</div>
<ul class="main-menu"></ul></nav>
<div class="body-wrapper">
<div class="section-wrapper section-header-wrapper"><div id="section-header" class="section"><div class="header_wrapper soheader"> 
 <header>
 <div id="header" class="area-wrapper clearfix">
 
 	<div class="clearfix">
 <div id="page-title-wrapper" style="position:absolute;top:10px;right:2px;">
 <div class="social-buttons clearfix">

<div class="social-item">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.angrybirdsgames.com&amp;width=80&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
</div><div class="social-item">
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium"></div>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
 (function() {
 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
 po.src = 'https://apis.google.com/js/plusone.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</div>
</div> </div>
				 <div id="logo" class="logo site-identity"><a href="http://www.angrybirdsgames.com/"><img src="http://stat.srv.gamex.com/files/logo/angrybirdsgames.com.png" title="angrybirdsgames.com home" /></a></div>
 </div> 

 <div class="nav-wrapper clearfix">
 <div class="area-wrapper">
 <div id="navigation" class="navigation clearfix">
 <ul>
 <li class="nav-item navi-games nav-first tab-active"><a href="http://www.angrybirdsgames.com/">GAMES</a></li>
 <li class="nav-item navi-videos"><a href="/videos">VIDEOS</a></li>
 </ul>
 </div> <!-- E #navigation --> 
 <div id="searchdiv" style="float:left;margin-left:10px;">
 <form id="searchform" method="get" action="http://www.angrybirdsgames.com/search">
 <table width="100%"><tr><td>
 <input id="searchtxt" type="text" name="keyword" placeholder="Find" value=""/>
 </td><td width="20">
 <div class="btn-find"></div> 
 </td></tr></table>
 </form>
 </div>
 <div style="float:left;margin-left:10px;"><div id="choose-language">
<div id="current-lang"><ul><li id="lang-en-us" title="English"><span class="flag flag-en-us"></span></li></ul></div>
<div id="lang-options"><ul>
<li class="lang-option" id="lang-es" title="Español" onclick="gmx.setLanguage('es');"><span class="flag flag-es"></span></li><li class="lang-option" id="lang-ja" title="日本語" onclick="gmx.setLanguage('ja');"><span class="flag flag-ja"></span></li><li class="lang-option" id="lang-pt" title="Português" onclick="gmx.setLanguage('pt');"><span class="flag flag-pt"></span></li><li class="lang-option" id="lang-tr" title="Türk" onclick="gmx.setLanguage('tr');"><span class="flag flag-tr"></span></li><li class="lang-option" id="lang-ko" title="한국어" onclick="gmx.setLanguage('ko');"><span class="flag flag-ko"></span></li> </ul>
 <div style="display:none;"><form id="langselect" method="post" action="http://www.angrybirdsgames.com/setlang"><input type="hidden" name="lang" value=""/><input type="hidden" name="redirUrl" value=""/><input type="hidden" name="form_id" value="set_language"/></form></div>
</div>
</div></div>
 
 
 </div> <!-- E area-wrapper --> 
 </div><!-- E nav-wrapper -->
 </div><!-- E #header -->
 
 </header>
</div><!-- E .header_wrapper -->
</div></div> <div id="section-leaderboard" class="section"><div class="area-wrapper" style="margin-left:auto;matgin-right:auto;">
<div id="sp-adLeaderboard" class="block728" >
 <div style="text-align:center;">
 <div class="sponsor" style="margin-left:auto;margin-right:auto;"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Gamex Organic-->
<ins class="adsbygoogle"
 style="display:block"
 data-ad-client="ca-pub-0867178547687586"
 data-ad-slot="6652893182"
 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
 </div>
</div>
</div>
</div>
 <div id="section-page" class="page_wrapper section"> 
 <div id="page-body" class="page-section">
 <div id="main-content">
 <div id="main-content-inner">
 
 	<div id="gamebox" class="clearfix">
				<div id="panes" class="swiper-container"><div id="panewrapper" class="pane-wrapper"><div id="page1" class="slidercontent slide-active loaded"><div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-space"><img src="http://img4.srv.gamex.com/files/thumbs/200x140/angry-birds-space-1596.jpg" class="ti ti200" width="200" alt="Angry Birds Space"><h5 class="gt">Angry Birds Space</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-halloween-hd"><img src="http://img4.srv.gamex.com/files/thumbs/200x140/angry-birds-halloween-hd-2634.jpg" class="ti ti200" width="200" alt="Angry Birds Halloween HD"><h5 class="gt">Angry Birds Halloween HD</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-heroic-rescue"><img src="http://img2.srv.gamex.com/files/thumbs/200x140/angry-birds-heroic-rescue-6916.jpg" class="ti ti200" width="200" alt="Angry Birds Heroic Rescue"><h5 class="gt">Angry Birds Heroic Rescue</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds"><img src="http://img3.srv.gamex.com/files/thumbs/200x140/angry-birds-6730.jpg" class="ti ti200" width="200" alt="Angry Birds"><h5 class="gt">Angry Birds</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/bad-piggies"><img src="http://img1.srv.gamex.com/files/thumbs/200x140/bad-piggies-6296.jpg" class="ti ti200" width="200" alt="Bad Piggies"><h5 class="gt">Bad Piggies</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-valentines-day"><img src="http://img4.srv.gamex.com/files/thumbs/200x140/angry-birds-valentines-day-7100.jpg" class="ti ti200" width="200" alt="Angry Birds Valentine's Day"><h5 class="gt">Angry Birds Valentine's Day</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-space-xmas"><img src="http://img2.srv.gamex.com/files/thumbs/200x140/angry-birds-space-xmas-6981.jpg" class="ti ti200" width="200" alt="Angry Birds Space Xmas"><h5 class="gt">Angry Birds Space Xmas</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-counterattack"><img src="http://img4.srv.gamex.com/files/thumbs/200x140/angry-birds-counterattack-7103.jpg" class="ti ti200" width="200" alt="Angry Birds Counterattack"><h5 class="gt">Angry Birds Counterattack</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-bird-ninja"><img src="http://img2.srv.gamex.com/files/thumbs/200x140/angry-birds-bird-ninja-7105.jpg" class="ti ti200" width="200" alt="Angry Birds Bird Ninja"><h5 class="gt">Angry Birds Bird Ninja</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/crazy-angry-birds"><img src="http://img1.srv.gamex.com/files/thumbs/200x140/crazy-angry-birds-6202.jpg" class="ti ti200" width="200" alt="Crazy Angry Birds"><h5 class="gt">Crazy Angry Birds</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-bird-special-cannon"><img src="http://img4.srv.gamex.com/files/thumbs/200x140/angry-bird-special-cannon-6551.jpg" class="ti ti200" width="200" alt="Angry Bird Special Cannon"><h5 class="gt">Angry Bird Special Cannon</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-space-wormhole"><img src="http://img2.srv.gamex.com/files/thumbs/200x140/angry-birds-space-wormhole-7102.jpg" class="ti ti200" width="200" alt="Angry Birds Space Wormhole"><h5 class="gt">Angry Birds Space Wormhole</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/piggies-balance"><img src="http://img4.srv.gamex.com/files/thumbs/200x140/piggies-balance-7101.jpg" class="ti ti200" width="200" alt="Piggies Balance"><h5 class="gt">Piggies Balance</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-piggies-escape"><img src="http://img2.srv.gamex.com/files/thumbs/200x140/angry-birds-piggies-escape-6898.jpg" class="ti ti200" width="200" alt="Angry Birds Piggies Escape"><h5 class="gt">Angry Birds Piggies Escape</h5></a></div></div>
<div class="ag tb200"><div class="ig"><a class="lk" href="/games/angry-birds-elimination"><img src="http://img1.srv.gamex.com/files/thumbs/200x140/angry-birds-elimination-7104.jpg" class="ti ti200" width="200" alt="Angry Birds Elimination"><h5 class="gt">Angry Birds Elimination</h5></a></div></div>
</div></div></div>
	</div>
	<div class="section"><div id="pager" class="paging flex-container flex-container-center"><div id="slider_pager" class="paging clearfix"><div class="directionnav"><a class="pageprev lkdisable"></a></div><div class="pagenav-wapper"><div class="pagenav"><div class="pagination clearfix" style="margin-left:auto;margin-right:auto;"><a class="pageloader pagectrl active">1</a><a class="pageloader pageloaderlast pagectrl">2</a></div></div></div><div class="directionnav lkdisable"><a class="pagenext" style="display:inline-block;">2</a></div></div></div></div>
</div><!-- main-content-inner --> 
 </div><!-- main-content --> 
 </div><!-- page-section -->
 
 <div id="section-mygames" class="section mygames-wrapper">
 <div id="block-mygames" class="area-wrapper boxcolor" style="margin-top:10px;">
 <h2><a href="http://www.angrybirdsgames.com/myzone">My Zone</a></h2>
 <div id="other-games"><div id="mygamestable"><div class="row"><div class="item-first col col-md-12"><div class="section-mygames tdsection"><h3 class="section-mygames-title section-title-suggestions"><span></span><a href="http://www.angrybirdsgames.com/myzone">Suggestions</a></h3> <div class="section-mygames-content flex-container flex-container-center flex-wrap"><div><div class="ag tb60"><div class="ig"><a class="lk" href="/games/angry-birds-space"><img src="http://img4.srv.gamex.com/files/thumbs/60x60/angry-birds-space-1596.jpg" class="ti ti60" width="60" alt="Angry Birds Space"><div class=""></div><h5 class="gt"></h5></a></div></div>
<div class="ag tb60"><div class="ig"><a class="lk" href="/games/angry-birds-halloween-hd"><img src="http://img4.srv.gamex.com/files/thumbs/60x60/angry-birds-halloween-hd-2634.jpg" class="ti ti60" width="60" alt="Angry Birds Halloween HD"><div class=""></div><h5 class="gt"></h5></a></div></div>
<div class="ag tb60"><div class="ig"><a class="lk" href="/games/angry-birds-heroic-rescue"><img src="http://img2.srv.gamex.com/files/thumbs/60x60/angry-birds-heroic-rescue-6916.jpg" class="ti ti60" width="60" alt="Angry Birds Heroic Rescue"><div class=""></div><h5 class="gt"></h5></a></div></div>
</div> </div></div></div></div></div></div>
 </div>
 </div>
 </div><!-- page_wrapper --> 
 <div id="section-footer" class="section">
 

<footer>
<div class="footer-links clearfix">
 <div class="gamexlogo">
 <a href="http://www.gamex.com/" target="_blank"><img src="http://stat.srv.gamex.com/files/logo/gamex.com.png" style="max-height:30px;"/></a>
 </div>
<div class="disclaimer"><div class="area-wrapper"><p>This site is not operated by the maker of Angry Birds.</p></div></div>
</div>
</footer>
 </div>
 
</div>
<!-- end -->
<div id="myzone-favorites" class="modal fade">
 <div class="modal-dialog">
 <div class="modal-content block">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h4 class="modal-title">My Favorites</h4>
 </div>
 <div class="modal-body">
 <p>My Favorites Games</p>
 </div>
 </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="myzone-played" class="modal fade">
 <div class="modal-dialog">
 <div class="modal-content block">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h4 class="modal-title">Last Played</h4>
 </div>
 <div class="modal-body">
 <p>Last Played Games</p>
 </div>
 </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="myzone-suggestion" class="modal fade">
 <div class="modal-dialog">
 <div class="modal-content block">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h4 class="modal-title">You may like...</h4>
 </div>
 <div class="modal-body">
 <p>Last Played Games</p>
 </div>
 </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="myzone-search" class="modal fade">
 <div class="modal-dialog">
 <div class="modal-content block">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h4 class="modal-title">Search...</h4>
 </div>
 <div class="modal-body">
 <form id="searchform" method="get" action="http://www.angrybirdsgames.com/search">
 <table width="100%"><tr><td>
 <input id="searchtxt" type="text" name="keyword" placeholder="Find..." value=""/>
 </td><td width="40">
 <div class="btn-find"></div> 
 </td></tr></table>
 </form> 
 </div>
 </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-30027494-5', 'auto');
 ga('send', 'pageview');
 <a href="index.html">back to index 
</script>
 </body>
</html>