container{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    color: white;
}

.buttons{
    text-align: center
    ;

}

.html{
	text-align: center;
	
}
button{
	text-decoration: none;
	font-family: 'Kumbh Sans', sans-serif;
	display: inline-block;
	border: none;
	border-radius: 3px;
	padding:200px;
	color:#6500A7;
	font-size: 20px;
	width: 100px;
	height: 50px;
	outline: none;
	background-color: red;
}

html{
	text-align: center;
	background-color: hotpink;
	padding: 200px;
}

button:hover{
	background-color: pink

}
