container{
	height:300px;
	width: 100%;
}
HTML IS THE WORST CODING APP!
#display{
	width: 100%;
	font-size: 72px;
	text-align: center;
	margin: 0px auto;
	color: white;
}
IDIOT PERSON THAT INVENT HTML!
.button{
	text-align: center
	;
}
GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
.html{
	text-align: center;
}
REPORT HTML DOWNLOAD WEBSITES!
button{
	text-decoration: none;
	font-family: 'Kumbh Sans','sans-serif';
	display: inline-block;
	border: none;
	padding: 200px;
	color: #6500A7;
	font-size: 200px;
	width: 100px;
	height: 50px;
	outline: none;
	background-color: #00FFD3;
}
html{
	text-align: center;
	background-color: #33CAFF;
	padding: 200px;
}
EVIL HTML
button:hover{
	background-color: pink;
}